@use "sass:map";
@use "/src/assets/css/variables" as *;
//@import '../../../assets/css/base.scss';

.contact-block {
    margin-top: 30px;
    padding: 30px;
    background-color: map.get($light, "bg_side-panel");
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height  : 120px;

    &:hover {
        & > .contact-info > a {
            //color: map.get($light, "nav_selected");
            transition: color $transition_base;
        }
    }

    @include respond-to(xs) {
        flex-direction: column;
        align-items:flex-start;
    }

    & > .img-container {
        height: 70px;
        aspect-ratio: 1;
        border: 1px solid map.get($light, "border");
        transition: border-color $transition_theme;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30px;

        @include respond-to(xs) {
            align-self: flex-end;
            position: absolute;
            height: 40px;
            margin-right: 0;
        }

        & > svg {
            width: 60%;
            max-height: 65%;
            fill:map.get($dark, "text_soft");
        }
    }

    & > .contact-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > span {
            font-size: 18px;
            color: map.get($light, "text_hard");
            transition: color $transition_theme;
            margin-bottom: 10px;
            display: block;
            font-weight: 700;

            @include respond-to(md) {
                margin-top: 20px;
            }

        }

        & > a {
            font-size: 18px;
            transition: $transition_base;
            text-decoration: none;
            //display: block;
            line-height: 150%;
            transition: color $transition_theme;
            color: map.get($light, "text_soft");

            @include respond-to(xs) {
                font-size: 15px;
            }

            &:hover {
                transition: $transition_base;
            }
        }
    }
}


body.dark {
    .contact-block {

        &:hover {
            & > .contact-info > a {
                color: map.get($dark, "nav_selected");
            }
        }

        background-color: map.get($dark, "bg_side-panel");
        & > .img-container {
            border: 1px solid map.get($dark, "border");
            transition: border-color $transition_theme;
        }
    
        & > .contact-info {
            & > span {
                color: map.get($dark, "text_hard");
                transition: color $transition_theme;
            }
            & > a {
                color: map.get($dark, "text_soft");
                transition: color $transition_theme;
    
                &:hover {
                    color: map.get($dark, "nav_selected");
                }
            }
        }
    }
}